/* styles.css */

.button {
    background-color: #13a1df;
    color: #fcfcfc;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Outros estilos... */
  